*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
a{color:  black;}

.img5, .img5_text{ 
    width: 1000px; height: 150px;
    margin: 50px;
    border: 0px solid black;
    display: flex;
    justify-content: space-between;
}

.img5 li ,
.img5_text li {
    width: 18%; height: 150px;
    border: 1px solid blue;
}
.img5_text li{
    height: 30px;
    margin-top: -50px;
    border: 1px solid black;
}
.box{
    width: 100px; height: 200px;
    border: 1px solid black;
    margin-top: -200px;
}