*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
a {color: black;}

/* .ok{
    width: 100px; height: 50px;
    border: 1px solid black;
    background: #ccc;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    }
.sub{
    width: 100px; height: 50px;
    border: 1px solid black;
    background: #ccc;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    }
.disp{
    width: 100px; height: 50px;
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
    font-size: 2rem;
} */

/* 엔티티 코드 &rarr; =>
          <=  &larr; */
.big{
    width: 1000px; height: 500px;
    border: 1px solid black;
    margin: 20px auto;
}
.big img {
    width: 100%; height: 100%;
}
.disp{
    width: 100px; height: 40px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    list-style: 40px;

}
.btn{
    position: absolute;
    top: 600px; left: 50%;
    transform: translateX(-50%);
    width: 600px; height: 40px;
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
}

.btn li{
    font-size: 2rem;
    border: 1px solid green;
    line-height: 30px;
    width: 40%;
    text-align: center;
    background: white;
    cursor: pointer;
}
